<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Goggly ::: MAX Goggle</title>
        <style>
        body
        {
            background-image: url("http://54.254.219.1:8080/bb2014_eye_logo_black.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
        </style>
    </head>

    <body>
        <font color="yellow">
        <!-- Upload form. Note enctype attribute! -->
        <h1> GOGGLY</h1><h3>=== Gives Image Insights!!</h3><h4>At this moment, Goggly can 
        <ul>
            <li>Detect and describe faces,</li> 
            <li>Describe the image,</li>
            <li>Identify geographic landmarks,</li>
            <li>Read text</li><br>
        </ul>
        Why don't you try it out? :)
        <br> Upload an image to see what Goggly sees!</h4>
        <form action="{% url "list" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <input type="submit" value="Upload"/>
        </form>
        <hr >
        <center><a target=_blank href="https://www.quora.com/profile/Shiva-Sitaraman/answers?sort=views"><img src="https://assets.about.me/background/users/s/i/v/sivaramanks_1466757065_62.jpg" width=200,height=200"><br><h3>About Me</h3></a></center>
        </font>
    </body>

</html>
